name: SurePrep API Client SDK

on:
  workflow_dispatch:
    inputs:
      deploy2github:
        type: boolean
        description: 'Deploy to GitHub'     
        required: true
        default: true
      deploy2nugetorg:
        type: boolean
        description: 'Deploy to NuGet.org'     
        required: true
        default: false

env:
  packageUrl: https://github.com/${{github.repository}}

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Create version string
      id: version
      shell: pwsh
      run: |
            $timestamp = $(Get-Date).ToString("yy.MMdd.HHmm.")
            $version = $timestamp + "${{github.run_number}}"
            Write-Output "::set-output name=version::$version"
            Write-Output "deploy2github=${{github.event.inputs.deploy2github}}"
            Write-Output "deploy2nugetorg=${{github.event.inputs.deploy2nugetorg}}"

    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - uses: nuget/setup-nuget@v1
      with:
        nuget-version: '5.x'

    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        source-url: https://nuget.pkg.github.com/${{github.repository_owner}}/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Restore nugets
      run: nuget restore SurePrepApiClientSdk.sln
    
    - name: Build the application
      run: dotnet build SurePrepApiClientSdk.sln --configuration Release

    - name: Create nugets
      run: |
        dotnet pack -o . /p:Version=${{steps.version.outputs.version}} /p:repositoryUrl="${{env.packageUrl}}" /p:authors="SurePrep LLC." /p:description="SurePrepAPI Client SDK" --configuration Release  src/SurePrepApiClientSdk/SurePrep.API.ClientSdk.csproj

    - name: Publish nugets to GitHub
      run: dotnet nuget push *.nupkg --api-key ${{ secrets.GITHUB_TOKEN }}
      if:  ${{github.event.inputs.deploy2github}}
      env:
        RepositoryUrl: ${{env.packageUrl}}

    - name: Publish nugets to NuGet.org
      run: nuget push **\*.nupkg -Source 'https://api.nuget.org/v3/index.json' -ApiKey ${{secrets.NUGETORG_API_KEY}}
      if:  ${{github.event.inputs.deploy2nugetorg}}
      env:
        RepositoryUrl: ${{env.packageUrl}}
